NUXT_SITE_URL=https://sportrep.ru
NUXT_PUBLIC_API_URL=https://p.sportrep.ru
NUXT_SITE_NAME=SR-ADMIN
NUXT_REGISTRATION=false

NUXT_PUBLIC_VK_TOKEN=vk1.a.3qXnXX7-m2hYJK8dOlBgk2l7KL5cHnYAzeegCCzJ6gG6ektrq5agi3Sj37eB3lfOnh3S6Gz0yWnwury17_Pum1lN5qjnZlS-3qFXsfMAgwr69fqvThzKXowNjuYMJuWsuKIOn9RVfwJOzTGFZj0f05Ntk0gietfXtUIoC3lnpOHugrJAGScI9yXBm9xCF-55lmgb3QXP65-ki7mq5w1psQ